
.incorrect, .rightSpot, .wrongSpot , .currGuessLetter {
    width: 25px;
    height: 25px;
    color: white;
    text-align: center;
}
.incorrect {
    background-color: #3a3a3b;
}

.rightSpot {
    background-color: #538d4e;
}

.wrongSpot {
    background-color: #b59f3b;
    font-weight: bolder;
}

.currGuessLetter {
    background-color: #121214;
}