.Modal {
    height: 400px;
    width: 400px;
    background-color: #ececec;
    position: fixed;
    margin-top: 50px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.Modal > h1 {
    margin-top: 20px;
}
.Modal > h3 {
    margin-top: 5px;
}
.Modal > form {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}
.Modal > form > input[type="text"] {
    padding: 10px;
    font-size: 14pt;
}

.errorMsg {
    color: rgb(204, 60, 60);
}

.Modal > form > input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    font-size: 14pt;
    background-color: #53ad5c;
    border: 2px solid #407645;
    /* border: none; */
    cursor: pointer;
    /* box-shadow: 1px 1px 5px black; */
    border-radius: 0.3rem;
}
